/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #fff;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || header layout */

nav, article{
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: rgb(120,200,240);
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

/* || typography */

h1, h2, h3, p, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}
.opening h1, h2 {
	color: white;
	text-align: left;
}

.opening p{
	color: white;
	text-align: left;
}

.part2 {
	box-shadow: 0px 2px 2px grey;
}
.part2 h2, p {
	text-align: center;
	color: black;
}
article{
	box-shadow: 0px 2px 2px grey;
	padding: 10px;
	margin: 5px;
}
.part3 p{
	text-align: left;
}

.part4 p{
	text-align: left;
}

.part4 {
	display: flex;
}
.part3 {
	display: flex;
}
button {
	background-color: rgb(79,185,227);
	padding: 15px 32px;
	color: white;
	font-size: 16px;
	border-radius: 8px;
}

/* || main layout */
#slideshow {
  overflow: hidden;
  width: 728px;
  margin: 0 auto;
}
.slide {
  float: left;
  width: 728px;
}
.slide-wrapper {
  /* Calculate the total width on the
  basis of number of slides */
  width: calc(728px * 4);
  
  /* Specify the animation with the
  duration and speed */
  animation: slide 10s ease infinite;
}
@keyframes slide {
  /* Calculate the margin-left for 
  each of the slides */
  22% {
    margin-left: 0px;
  }
  
  44% {
    margin-left: calc(-728px * 1);
  }
  
  66% {
    margin-left: calc(-728px * 2);
  }
  
  88% {
    margin-left: calc(-728px * 3);
  }
}
.opening {
	display: flex;
	background-color: rgb(79,185,227);
	padding: 10px;
}
.opening img{
	width: 500px;
}

.part4 img{
	float: left;
	width: 150px;
	padding: 5px;
}

.heading {
	padding-right: 20px;
	padding-left: 20px;
	width: 60%;
}

.part3 img{
	float: left;
	width: 270px;
	padding: 5px;
}

.blogs img{
	float:left;
	width: 100px;
	padding: 3px;
}

.blogs a{
	text-decoration: none;
}

.blogs {
	width: 550px;
}
.no-bor {
	box-shadow: none;
	padding: 20px;
}
.part3 {
	box-shadow: 0px 2px 2px grey;
	padding: 10px;
	margin: 5px;
}